.survey-model {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 5px;
}

.survey-model > h3 {
  color: black;
}

.cancel-btn {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:200px;
  position: absolute;
  bottom:50px;
  left:0px;
  right:0px;
  margin: auto;
}
